.upload-page-wrap {
    background: #f4f6f5;
    padding-top: 50px;
    padding-bottom: 200px;

    @include mobile-large {
        padding-bottom: 100px;
    }

    .breadcrumbs {
        margin-bottom: 40px;

        &-home {
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            color: $light-gray;
        }

        &-uploadProduct {
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            color: $dark-gray;
        }
    }
}