.footer {
    background-color: #263238;
    &__item {
        display: flex;
        justify-content: space-between;
        max-width: 1171px;
        width: 100%;
        margin: 0 auto;
        @include laptop {
            width: 89%;
        }
        @include tablet {
            width: 94%;
        }
        @include tablet-s {
            flex-wrap: wrap;
            justify-content: space-around;
            width: 88%;
            align-items: center;
        }
        @include mobile {
            width: 65%;
        }

    }
    &__company {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 261px;
        @include laptop-tablet {
            width: 37%;
        }
        @include tablet-s {
            margin-top: -29px;
        }
        @include mobile {
            margin-top: -58px;
        }

    }
    &__title {
        font-family: Raleway;
        font-size: 22px;
        font-weight: 700;
        color: #ffffff;
        padding: 116px 0 23px;
        @include laptop-tablet {
            font-size: 19px;
        }
    }
    &__rectangle {
        width: 51px;
        height: 3px;
        background-color: #8bc34a;
        margin-bottom: 34px;
    }
    &__text {
        max-width: 261px;
        width: 100%;
        height: 86px;
        color: #b7c3c8;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 36px;
        @include laptop {
            width: 80%;
            margin-bottom: 17px;
            font-size: 13px;
            line-height: 17px;
        }
        @include tablet {
            width: 83%;
            margin-bottom: 30px;
        }
        @include mobile {
            margin-bottom: 35px;
        }
    }
    &__contacts {
        display: flex;
        margin-bottom: 27px;
        @include laptop {
            margin-bottom: 26px;
        }
        @include tablet-tablet-s {
            margin-bottom: 42px;
        }
    }
    &__contacts-icon {
        display: block;
        color: #8bc34a;
        font-size: 18px;
        font-weight: 400;
        margin-right: 19px;
        @include laptop-tablet {
            margin-right: 8px;
        }
    }
    &__contacts-text {
        margin-top: 1px;
        max-width: 213px;
        width: 100%;
        height: 35px;
        color: #ffffff;
        font-family: "Lato - Semibold";
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        @include laptop {
            width: 61%;
            font-size: 13px;
            line-height: 17px;
        }

    }
    &__phone {
        display: flex;
    }
    &__phone-icon {
        display: block;
        color: #8bc34a;
        font-size: 18px;
        font-weight: 400;
        transform: rotate(90deg);
    }
    &__phone-number {
        margin-left: 15px;
        margin-top: 1px;
        color: #ffffff;
        font-family: "Lato - Semibold";
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        @include laptop-tablet {
            font-size: 13px;

            line-height: 21px;
        }
    }
    &__community {
        display: flex;
        flex-direction: column;
        max-width: 261px;
        width: 100%;
        @include laptop-tablet {
            width: 37%;
        }
        @include tablet-s {
            margin-top: -29px;
        }
        @include mobile {
            margin-top: -58px;
        }

    }
    &__help {
        display: flex;
        flex-direction: column;
        max-width: 261px;
        width: 100%;
        @include laptop-tablet {
            width: 37%;
        }
        @include tablet-s {
            margin-top: -29px;
        }
        @include mobile {
            margin-top: -58px;
        }

    }
    &__follow {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 261px;
        @include laptop-tablet {
            width: 37%;
        }
        @include tablet-s {
            margin-top: -29px;
        }
        @include mobile {
            margin-top: -58px;
        }

    }
    &__copyright {
        padding-top: 95px;
        padding-bottom: 32px;
        text-align: center;
        @include laptop-tablet {
            padding-top: 48px;
        }
        @include mobile {
            padding-top: 64px;
        }

    }
    &__copyright-solid {
        border-bottom: 1px solid #424d53;
    }
    &__copyright-text {
        display: block;
        margin-top: 27px;
        color: #919699;
        font-size: 15px;
        font-weight: 400;
        @include tablet-s {
            padding: 0 20px;
        }
        @include mobile {
            font-size: 12px;
            line-height: 17px;
        }
    }
    &__item-links {
        display: flex;

        color: #b7c3c8;

        font-size: 15px;
        font-weight: 400;
        line-height: 36px;
        &::before {
            display: block;
            content: "\f105";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-right: 15px;
            color: #8bc34a;
        }
        &:hover {
            color: $green-apple;
        }
    }
    &__social {
        display: flex;
        padding-bottom: 41px;
    }
    &__social-icon {
        margin-right: 7px;
        @include laptop-tablet {
            margin-right: 3px;
        }
    }
    &__social-pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include laptop-tablet {
            width: 80%;
        }
    }
    &__form-title {
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 18px;
        @include laptop-tablet {
            font-size: 18px;
        }
    }
    &__form-address {
        width: 100%;
        max-width: 261px;
        height: 40px;
    }
    &__input-group {
        display: flex;
        height: 40px;
        border: 1px solid #000000;

        overflow: hidden;
    }
    &__input {
        background-color: #2f3c43;
        font-size: 14px;
        font-weight: 400;
        width: 100%;
        border: none;
        padding: 0 16px;
        color: #697378;
    }
    &__submit {
        font-size: 20px;
        outline: none;
        background: #ffffff;
        border: none;
        padding: 0 10px;
        cursor: pointer;
        color: #ffffff;
        background-color: #8bc34a;
        font-weight: 400;
    }
}
