.form-price {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 28px;
    @include laptop {
        justify-content: center;
    }

    &__price {
        display: block;
        color: #e74c3c;
        font-family: Roboto;
        font-size: 22px;
        font-weight: 500;
        padding-right: 60px;
        @include laptop {
            padding-right: 22px;
        }
        @include laptop-s {
            padding-right: 40px;
        }
    }
    // select
    .jq-selectbox {
        width: 100%;
        //padding-left:60px;
        //box-sizing: border-box;
    }
    .jq-selectbox__select {
        box-shadow: none;
        height: 27px;
        border-radius: 0;
        font-family: 'Roboto', sans-serif;
        line-height: 30px;
        padding: 0 27px 0 11px;
        border: 1px solid #cccccc;
        background-color: #ffffff;
    }
    .jq-selectbox__select-text {
        font-size: 13px;
        font-weight: 400;
        line-height: 30px;
        color: #70838d;
    }
    .jq-selectbox__select {
        outline: none;
    }
    .jq-selectbox:hover .jq-selectbox__trigger-arrow {
        border-top-color: #8bc34a;
    }

    .jq-selectbox.focused .jq-selectbox__select {
        border: 1px solid #d7d7d7;
    }
    .jq-selectbox__trigger {
        border-left: none;
    }
    .jq-selectbox__trigger-arrow {
        top: 12px;
        right: 10px;
        border-top: 5px solid #8bc34a;
    }
    .jq-selectbox__dropdown {
        border-radius: 0;
    }
    .jq-selectbox li {
        &:hover {
            background: #f9f9f9;
            color: #444444;
        }
    }

}
