.product-price {
    padding: 0 31px 21px;
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
    margin-bottom: 30px;

    &__title {
        display: block;
        color: #263238;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        line-height: 60px;
        //padding-bottom: 23px;
        border-bottom: 1px solid #d7d7d7;
    }
    &__list-btn {
        padding-bottom: 8px;

    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 100%;
        color: #ffffff;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        box-shadow: 0 1px 2px rgba(69, 90, 100, 0.75);
        @include laptop {
            font-size: 14px;
        }
        @include laptop-s {
            font-size: 16px;
        }
        &--cart {
            background-color: #8bc34a;
            &::before {
                display: block;
                content: "\f07a";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                margin-right: 8px;
                color: #ffffff;
            }
        }
        &--favourites {
            background-color: #42a5f5;
            &::before {
                display: block;
                content: "\f004";
                font-family: "Font Awesome 5 Free";
                font-weight: 400;
                margin-right: 8px;
                color: #ffffff;
            }
        }
        &--now {
            background-color: #546e7a;
        }
    }
}
