.header {
    &__menu {
    height: 60px;
    background-color: $dark-gray;
    // width: 100%;

    @include tablet {
        height: 100%;
    }
    }

    &__menu-inner {
        position: relative;

        @include mobile {
            margin: 0 -15px;
        }
    }

    &__mobile-btn {
        display: none;

        .fas {
            font-size: 20px;
            padding: 20px 0;
            color: $white;
            margin-left: 15px;
        }
        @include mobile {
            display: inline-block;
        }
    }

    &__menu-list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        height: 60px;

        @include tablet {
            height: auto;
        }

        @include mobile {
            max-height: 0;
            background: rgba(38,50,56,0.8);
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 60px;
            padding-left: 15px;
            transition: max-height 0.3s ease-out;
            overflow: hidden;
            width: 100%;
            z-index: 10;

            &.active {
                max-height: 360px;
            }
        }
    }
    
    &__menu-item {
        margin-right: 40px;
        
        @include tablet {
            width: 20%;
            margin-right: 0;
            padding: 10px 0;
        }

        @include mobile-large {
            width: 33.33333%;
        }

        @include mobile {
            width: 100%;
        }
    }
    
    &__menu-item-link  {
        font-size: 14px;
        font-weight: 400;
        color: $white;  
    }

}


  
